<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHover()"
     (mouseout)="sidebarHover()">
  <div class="app-header__logo">
    <div class="logo-src"></div>
    <div class="header__pane ml-auto">
      <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
              [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar [autoPropagation]="true">
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" [activeIds]="extraParameter">
              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <div class="vsm-header">Main Navigation</div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="dashboardsMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-rocket"></i>
                    <span class="vsm-title">Dashboards</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item"><a routerLink="" routerLinkActive="active-item"
                                               [routerLinkActiveOptions]="{exact: true}" class="vsm-link"><span
                        class="vsm-title">Analytics</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
              <!--
              <ngb-panel id="pagesMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-browser"></i>
                    <span class="vsm-title">Pages</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="login" class="vsm-link"><span
                          class="vsm-title">Login</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="register" class="vsm-link"><span
                          class="vsm-title">Register</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="forgot-password"
                           class="vsm-link"><span class="vsm-title">Forgot Password</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
              -->
              <ngb-panel id="casesMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-ticket"></i>
                    <span class="vsm-title">Cases</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/cases" class="vsm-link"><span
                          class="vsm-title">ALL</span>
                        </a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/cases/current" class="vsm-link"><span
                          class="vsm-title">CURRENT</span>
                        </a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/cases/overdue" class="vsm-link"><span
                          class="vsm-title">OVERDUE</span>
                        </a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/cases/trash" class="vsm-link"><span
                          class="vsm-title">TRASH</span>
                        </a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/cases/starred" class="vsm-link"><span
                          class="vsm-title">STARRED</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>

              <ngb-panel id="workOrderMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-notebook"></i>
                    <span class="vsm-title">Work Order Sent</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/work-order-sent" class="vsm-link"><span
                          class="vsm-title">ALL</span>
                        </a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/quotes" class="vsm-link"><span
                          class="vsm-title">QUOTES</span>
                        </a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/cases-summary" class="vsm-link"><span
                          class="vsm-title">CASE SUMMARY</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="calenderMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-date"></i>
                    <span class="vsm-title">Calender</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="maintenanceScheduleMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-note2"></i>
                    <span class="vsm-title">Maintenance Schedule</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
